<div class="row">
    <div class="col-md-4 mt-2">
        <label>QR Code Text</label>
        <textarea type="text" class="form-control" [(ngModel)]="qrcodetext" name="qrcodetext"></textarea>

    </div>
    <div class="col-md-2">        
        <qr-code [value]="qrcodetext" [size]="100" background="pink" foreground="blue"></qr-code>
    </div>

</div>

<table  class="table">
<tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
</tr>

<tr *ngFor="let item of table">
<td>{{item.productName}}</td>
<td>{{item.productQuantity}}</td>
<td>{{item.productPrice}}</td>
</tr>
</table>